@{
    ViewData["Title"] = "Home Page";
}


<div class="grid">
    <div>
        <form>
            <h2>Customer Information</h2>
            <label for="customerID">Customer ID:</label>
            <input type="text" id="customerID" name="customerID"><br><br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <form>
            <h2>Product Information</h2>
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="productName"><br><br>
            <label for="productID">Product ID:</label>
            <input type="text" id="productID" name="productID"><br><br>
            <input type="submit" value="Submit">
        </form>
        
    </div>
    <div>
        <form>
            <h2>purchases</h2>
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="productName"><br><br>
            <label for="productID">customerID:</label>
            <input type="text" id="CustomerID" name="CustomerID"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>